---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
import Stats from '~/components/widgets/Stats.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro';

const metadata = {
  title: 'Tobost Certified - a blog for reviewing games and stuff',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'All Posts',
        href: '/blog',
        // icon: 'tabler:heart',
      },
      {
        variant: 'secondary',
        text: 'About Me',
        href: '/about',
      },
    ]}
    image={{ src: '~/assets/images/tobost-hero.png', alt: 'Tobost Hero Image', height: 250 }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Tobost Certified</span> Gaming Review Blog
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Certified or Not?</span> That's what I aim to find out with my curations. If it's certified, I found it absolutely great!</span>
    </Fragment>
  </Hero>

  <BlogLatestPosts
    title="The Blog"
    information="Recent Posts"
  />

  <BlogHighlightedPosts 
  title='Highlighted Posts'
  information='Trending Posts'
  highlight='true' 
    />


  <Stats
    stats={[
      { title: 'Articles', amount: 'xxxxx' },
      { title: 'Reviews', amount: 'xxxxx' },
    ]}
  />

</Layout>
