---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import Stats from '~/components/widgets/Stats.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro';
import Search from 'astro-pagefind/components/Search';

import { fetchPosts } from '~/utils/blog';

// Get all posts
const allPosts = await fetchPosts();

// Count total number of posts
const totalPosts = allPosts.length;

// Count posts with 'Game Review' category
const totalReviews = allPosts.filter(
  (post) =>
    (post.category && post.category.slug === 'game-review') ||
    (post.tags && post.tags.some((tag) => tag.slug === 'game-review'))
).length;

const metadata = {
  title: 'Tobost Certified - a blog for reviewing games and stuff',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">
      <span class="text-accent">Tobost Certified</span> Gaming Reviews
    </Fragment>

    <br /><br />

    <Fragment slot="subtitle">
      <span class="font-semibold">Certified or Not?</span> That's what I aim to find out with my curations. If it's certified,
      I found it absolutely great!
      <br />
      <br />
      <span class="hidden sm:inline"> Is your favourite game certified?</span>
      <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
    </Fragment>
  </Hero>

  <BlogLatestPosts title="Latest Posts" information="" />

  <BlogHighlightedPosts title="Top Posts" information="" />

  <Stats
    stats={[
      { title: 'Posts', amount: totalPosts.toString() },
      { title: 'Reviews', amount: totalReviews.toString() },
    ]}
  />
</Layout>

<style is:global>
  :root {
    --pagefind-ui-scale: 0.8;
    --pagefind-ui-primary: var(--aw-color-accent-muted);
    --pagefind-ui-text: lightdark(white, black);
    --pagefind-ui-message-text: lightdark(white, black);
    --pagefind-ui-result-title-text: lightdark(white, black);
    --pagefind-ui-result-text: lightdark(white, black);
    --pagefind-ui-background: lightdark(white, black);
    --pagefind-input-background: var(--aw-color-accent-muted);
    --pagefind-ui-border: var(--aw-color-accent);
    --pagefind-ui-tag: lightdark(white, black);
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: var(--aw-font-sans);
    --pagefind-button-background: var(--aw-color-primary);
    --pagefind-button-color: var(--aw-color-secondary);
  }

  #search .pagefind-ui__search-input,
  #search .pagefind-ui__search-clear {
    background-color: var(--pagefind-input-background);
    color: var(--pagefind-ui-text);
    padding-inline: 2%;
  }

  #search .pagefind-ui__result-title,
  #search .pagefind-ui__result-link {
    display: inline-block;
    font-weight: 700;
    font-size: calc(2rem * var(--pagefind-ui-scale));
    color: var(--pagefind-ui-result-title-text);
  }

  #search .pagefind-ui__result-excerpt {
    color: var(--pagefind-ui-result-text);
    font-weight: 400;
    font-size: calc(1.2rem * var(--pagefind-ui-scale));
    text-align: left;
  }

  #search .pagefind-ui__message {
    color: var(--pagefind-ui-message-text);
    margin: calc(0.5rem * var(--pagefind-ui-scale)) 0;
    font-size: calc(1rem * var(--pagefind-ui-scale));
  }

  #search .pagefind-ui__button {
    color: white;
    background: var(--aw-color-primary);
    font-weight: 600;
    font-size: calc(1rem * var(--pagefind-ui-scale));
  }

  #search .pagefind-ui__result-thumb {
    display: none;
  }

  .pagefind-ui__results mark,
  .pagefind-ui mark {
    background-color: var(--aw-color-accent);
    color: #f1f1f4;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    cursor: pointer;
  }

  .pagefind-ui__search-input:focus-visible {
    outline: none;
    border-color: var(--aw-color-accent);
    box-shadow: 0 0 2rem 0 var(--aw-color-accent);
  }
</style>
