---
import { SITE } from 'astrowind:config';
---
<div class="skewer">
  
  <span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white header-title"
  >
    {SITE?.name}
  </span>
</div>
